.Formulario {
    margin: 10px, 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #88a3e4;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
  }
  
  #miboton {
    margin: 10px,15px;
    background-color: #8bbef5;
    color: #01102a;
    border: none;
    border-radius: 3px;
    padding: 10px,10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  #miboton :hover {
    background-color: #1568c6;
  }
  
  .contenedorEnlace{
    width: 50%; /* Define el ancho del div */
    margin: 0 auto; /* Define margen superior e inferior a 0 y margen izquierdo y derecho como auto */
    font-size: 13px;
  }

  .enlace{
    text-decoration: none;
   
  }

  #contenedorBotonAdiciona{
    text-align: left;
    display: 'inline-block';
    margin-bottom: 3px;
    
 }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
  .Formulario {
   
    padding: 1rem;
    margin: 1px,1px;
    align-items: start;
  }
  
  .division-uno{
    margin: 0.2rem;
    width: 0.1rem;
  }
    
  input {
    width: 18rem;
    height: 1rem;
    font-size: 10px;
    padding: 1rem;
  }
  
  #miboton {
    width: 5rem;
    height: 3rem;
    padding: 2px;
    font-size: 13px;
  }

  .contenedorEnlace{
    font-size: 12px;

  }
  
  .enlace{
   position: sticky; /* Establece la posición fija en el borde superior del contenedor */
   top: 0; /* Asegura que el enlace se mantenga en la parte superior del contenedor */
   padding: 1rem; /* Añade un espacio de padding al enlace para mayor legibilidad */
   background-color: #fff; /* Opcional: añade un fondo blanco para mayor contraste */
   z-index: 1; /* Asegura que el enlace se muestre encima de la tabla */
   
  }
  
}

