.Formulario {
    margin: 10px, 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #88a3e4;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
  }
  
  #miboton {
    margin: 10px,15px;
    background-color: #8bbef5;
    color: #01102a;
    border: none;
    border-radius: 3px;
    padding: 10px,10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  #miboton :hover {
    background-color: #1568c6;
  }
  
  .contenedorEnlace{
    width: 50%; /* Define el ancho del div */
    margin: 0 auto; /* Define margen superior e inferior a 0 y margen izquierdo y derecho como auto */
    font-size: 13px;
  }

  .enlace{
    text-decoration: none;

  }

  #contenedorBotonAdiciona{
    text-align: left;
    display: 'inline-block';
    margin-bottom: 3px;
    
 }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
  .Formulario {
   
    padding: 1px;
    margin: 1px,1px;
  }
  
    
  input {
    height: 15px;
    font-size: 13px;
  }
  
  #miboton {
    height: 30px;
    padding: 2px;
    font-size: 12px;
  }

  .contenedorEnlace{
    font-size: 12px;

  }

}