.Contenedor{
  position: relative; /* Establece la posición relativa para los elementos hijos */
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-header {
    display: table-row;
    background-color: lightgray;
    font-weight: bold;
  }
  
  .table-row {
    display: table-row;
    border-bottom: 1px solid #ddd;
  }
  
  .table-cell {
    display: table-cell;
    padding: 5px;
    border-right: 1px solid gray;
    vertical-align: middle;
    
  }
  
    .table-row.selected {
      background-color: lightblue;
    }
  
    .enlace {
    display: table-cell;
    justify-content: "space-between";
    padding: 1px;
    vertical-align: middle;
    
      
    }
  
    @media  (max-width: 768px) {
       
      .table-row {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        border-bottom: 1px solid #ddd;
      }
  
      .table-cell::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 0.25rem;
      }

      .table-header {
        display: none;
      }
    }